<button (click)="newMember()" mat-icon-button class="floatingActionButton">
    <mat-icon>person_add</mat-icon>
</button>
<div class="container backgroundContainer">
    <div style="display: flex; justify-content: space-between; margin: 15px;">
        <h3>Gebruikers</h3>
        <p>
            <mat-slide-toggle unchecked (change)="onChange($event)">Toon werknemers</mat-slide-toggle>
        </p>
    </div>
    <div *ngIf="loading" style="background-color: white; text-align: center;">
        <img src="../../../../assets/images/cloud_load.gif" alt="loading">
    </div>
    <table *ngIf="!loading" mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> Nummer </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="Firstname">
            <th mat-header-cell *matHeaderCellDef> Voornaam </th>
            <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
        </ng-container>
        <ng-container matColumnDef="Lastname">
            <th mat-header-cell *matHeaderCellDef> Achternaam </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef> Functie </th>
            <td mat-cell *matCellDef="let element"> {{element.type != 'employee'? element.type : 'Werknemer'}} </td>
        </ng-container>
        <ng-container style="text-align: right;" matColumnDef="Actions" style="text-align: right;">
            <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Acties </th>
            <td style="text-align: right;" mat-cell *matCellDef="let element">
                <button (click)="open(element)" mat-icon-button>
                    <svg-icon src="../assets/icons/open.svg" [applyCss]="true" class="svgIconColor"></svg-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator style="width: 100%;" #paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
    </mat-paginator>
</div>