<div class="container backgroundContainer pb-5">
    <h3 style="margin: 15px;">Livestreams</h3>
    <div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-6">
                <h5 style="margin: 20px 10px 0 0;">Bewegende last</h5>
                <video width="480" height="270" controls>
                    <source src="../../../../assets/placeholder_videos/crane.MP4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-6">
                <h5 style="margin: 20px 10px 0 0;">Permineter</h5>
                <video width="480" height="270" controls>
                    <source src="../../../../assets/placeholder_videos/crane.MP4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

    </div>
</div>