<div class="container backgroundContainer">
    <div style="display: flex; justify-content: space-between;">
        <h3>Logging</h3>
    </div>
    <div style="display: flex; justify-content: center;">

        <div class="item">
            <div class="logTypeNumber d-flex justify-content-center align-items-center"
                [style.background-color]="'#E44A37'">1</div>
            <span class="caption">Error</span>
        </div>
        <div class="item">
            <div class="logTypeNumber d-flex justify-content-center align-items-center"
                [style.background-color]="'#ED8332'">1</div>
            <span class="caption">Warning</span>
        </div>
        <div class="item">
            <div class="logTypeNumber d-flex justify-content-center align-items-center"
                [style.background-color]="'#23C7B8'">1</div>
            <span class="caption">Success</span>
        </div>
        <div class="item">
            <div class="logTypeNumber d-flex justify-content-center align-items-center"
                [style.background-color]="'#43A5DE'">1</div>
            <span class="caption">Info</span>
        </div>
    </div>
    <div>
        content here
    </div>
</div>