.logTypeNumber{
    width: 40px;
    height: 40px;
    margin: 25px;
    font-size: 22px;
    color: white;
    border-radius: 4px;
    text-align: center;
}
div.item {
    vertical-align: top;
    text-align: center;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caption {
    display: block;
}