<div *ngIf="camera || data.new" style="overflow: hidden;" class="p-2">
    <h1 class="text-center mt-2" mat-dialog-title>{{data.new? 'Nieuwe camera' : camera.cameraName}} <br />
        <p class="text-center m-0 p-0" style="font-size: 16px;">
            {{data.new? 'Voeg een camera toe aan het systeem' : 'Deze camera bevindt zich in: ' + camera.location.description}}</p>
    </h1>
    <div style="font-family: 'Varela Round', sans-serif; margin-bottom: 5px;" mat-dialog-content>
        <p>Status</p>
        <div class="text-center">
            <mat-button-toggle-group [(value)]="selectedValue" class="m-auto" #group="matButtonToggleGroup">
                <mat-button-toggle (change)="selectionChanged($event)" *ngFor="let item of toggleOptions;" [value]="item" aria-label="Text align left">
                    {{item}}
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <form [formGroup]="cameraForm" (ngSubmit)="onSubmit()" class="w-100 mt-4">
       
            <div class="form-group">
                <label for="name">Naam <span style="font-size: 10px; opacity: 75%;">(verplicht)</span></label>
                <input type="text" id="name" formControlName="name" class="form-control text-black"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback text-right">
                    <div *ngIf="f.name.errors.required">Wat is de cameranaam?</div>
                </div>
            </div>
            <div class="form-group">
                <label for="macAddress">Mac Adres <span
                        style="font-size: 10px; opacity: 75%;">(verplicht)</span></label>
                <input type="text" id="macAddress" formControlName="macAddress" class="form-control text-black"
                    [ngClass]="{ 'is-invalid': submitted && f.macAddress.errors }" />
                <div *ngIf="submitted && f.macAddress.errors" class="invalid-feedback text-right">
                    <div *ngIf="f.macAddress.errors.required">Wat is het mac adres?</div>
                </div>
            </div>
            <div class="form-group">
                <label for="model">Model <span style="font-size: 10px; opacity: 75%;">(verplicht)</span></label>
                <input type="text" id="model" formControlName="model" class="form-control text-black"
                    [ngClass]="{ 'is-invalid': submitted && f.model.errors }" />
                <div *ngIf="submitted && f.model.errors" class="invalid-feedback text-right">
                    <div *ngIf="f.model.errors.required">Wat is het model?</div>
                </div>
            </div>
            <div class="form-group">
                <label for="location">Locatie <span style="font-size: 10px; opacity: 75%;">(verplicht)</span></label>
                <select class="custom-select" formControlName="location" id="location">
                    <option selected>Kies...</option>
                    <ng-container *ngFor="let item of locations">
                        <option [value]="item.locationID">{{item.description}}</option>
                    </ng-container>
                </select>
                <div *ngIf="submitted && f.location.errors" class="invalid-feedback text-right">
                    <div *ngIf="f.location.errors.required">Wat is de locatie?</div>
                </div>
            </div>
            <div class="form-group">
                <label for="ipAddress">Ip-Adres<span style="font-size: 10px; opacity: 75%;">(verplicht)</span></label>
                <input type="text" id="ipAddress" formControlName="ipAddress" class="form-control text-black"
                    [ngClass]="{ 'is-invalid': submitted && f.ipAddress.errors }" />
                <div *ngIf="submitted && f.ipAddress.errors" class="invalid-feedback text-right">
                    <div *ngIf="f.ipAddress.errors.required">Wat is het ip-Adres?</div>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-between mt-4">
                <button *ngIf="!data.new" style="border-color: #F25C19; color: #505050;" mat-stroked-button (click)="deleteCamera()"
                    type="button" id="deleteButton">
                    Camera verwijderen<mat-icon>delete</mat-icon>
                </button>

                <button style="border-color: #b668b7; color: #505050; margin-top: 10px;" mat-stroked-button
                    [disabled]="loading && submitted" type="submit" id="submitButton">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
                    Opslaan <mat-icon>save_alt</mat-icon>
                </button>
            </div>
        </form>
    </div>
</div>