.success {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 10px 15px 10px 15px; 
    width: 290px;
    border-radius: 3px;
    background: #57D68D;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd #d6d6d6 #cfcfcf;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
  }

  .danger {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 10px 15px 10px 15px; 
    width: 290px;
    border-radius: 3px;
    background: #C33A2C;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd #d6d6d6 #cfcfcf;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
  }

  .info {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 10px 15px 10px 15px; 
    width: 290px;
    border-radius: 3px;
    background: #2C97DC;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd #d6d6d6 #cfcfcf;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
  }