.app-login{
    background-color: #fafafa;
    height: 100vh;
}

.login-card{
    background-color: #fff;
    width: 340px;
    height: 440px;
    box-shadow: 1px 1px 10px lightgray;
}

.mat-accent {
    background-color: #B668B7;
    color: #fff;
}