<div class="container">
    <div class="row">
        <h3 style="margin-left: 0px;">Overzicht</h3>
    </div>
    <div class="row">
        <ng-container *ngIf="!loading">
            <div *ngFor="let violation of violationCounts;"
                class="col card-info d-flex align-items-center justify-content-center">
                <div *ngIf="!loading" class="d-flex align-items-center flex-column">
                    <div class="mb-2">
                        <img src="../../../../assets/icons/counterWarning.svg" alt="warningIcon">
                    </div>
                    <div>
                        Aantal overtredingen <b>{{violation.cameraName}}</b>
                    </div>
                    <div style="font-size: 48px;">
                        {{violation.violationCount}}
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="w-100" style="text-align: center;" *ngIf="loading">
            <img src="../../../../assets/images/cloud_load.gif" alt="loading">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col card-info chart d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center flex-column">
                <canvas id="myChart" width="650" height="400"></canvas>
            </div>
        </div>
    </div>
</div>